# Project information
site_name: Documentation
site_url: https://xinfin.org/
site_author: XDC Network
site_description: >-
  Get started with XDC Chain Docs. Explore the documentation for XDC Chain
# Repository
repo_name: XDC Network GitHub
repo_url: https://github.com/XinFinOrg
edit_uri: edit/main/docs/

theme:
  name: material
  logo: assets/logo.svg
  favicon: assets/xdc.svg
  custom_dir: overrides
  language: en
  icon:
    repo: fontawesome/brands/github
    share: octicons/share-android-24
  palette:
    - scheme: slate
      primary: custom
      accent: custom
      toggle:
        icon: octicons/sun-24
        name: Switch to light mode
    - scheme: default
      primary: custom
      accent: custom
      toggle:
        icon: octicons/moon-24
        name: Switch to dark mode
  features:
#    - announce.dismiss
    - search.suggest
    - search.highlight
    - search.share
    - navigation.instant
#    - navigation.instant.progress
    - navigation.tracking
    - navigation.integration
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.sections
#    - navigation.expand
    - navigation.prune
    - navigation.path
    - navigation.top
    - navigation.footer
    - toc.follow
    - content.code.copy
    - content.action.edit
    - content.tooltips
#    - content.action.view


# Page tree
nav:
  - Home: index.md
  - XDC Chain:
    - XDC Chain Overview: ./xdcchain/index.md
    - XDPoS Consensus: ./xdcchain/xdpos.md
    - XDPoS 2.0: ./xdcchain/xdpos2.md
    - XDC Ecosystem: https://xinfin.org/ecosystem-dapps
    - Developers:
        - Quick Guide: ./xdcchain/developers/quick-guide.md
        - Dev-Tools: https://xinfin.org/quick-tools-guide
        - RPC Endpoints:
            - RPC: ./xdcchain/developers/rpc.md/
            - Mainnet RPC: ./xdcchain/developers/mainnetrpc.md
            - Apothem Testnet RPC: ./xdcchain/developers/apothemrpc.md
            - Devnet RPC: ./xdcchain/developers/devnetrpc.md
        - Faucet: https://faucet.blocksscan.io/
        - Migrating from EVM to XDC: ./xdcchain/evmtoxdc.md
        - Wallet Configuration: ./xdcchain/developers/wallet-configuration.md

    - Node Operators:
        - Node Architecture: ./xdcchain/developers/node_operators/node_architecture.md
        - Rewards mechanism(WIP): ./xdcchain/rewards.md
        - How to Run a Masternode/Standby node: 
              - Masternode/Standby node Setup: ./xdcchain/developers/node_operators/masternode.md
              - How to Stake XDC: ./xdcchain/developers/node_operators/masternode/#how-to-stake-xdc-on-a-masternodestandby-node
              - Using Bootstrap Script: ./xdcchain/developers/node_operators/masternode/#setup-xdc-masternode-using-bootstrap-script
              - Using One-Click-Installer: ./xdcchain/developers/node_operators/masternode/#setup-xdc-masternode-using-one-click-installer
              - Using Docker: ./xdcchain/developers/node_operators/masternode/#setup-xdc-masternode-using-docker
              - Downloading Mainnet Snapshot: ./xdcchain/developers/node_operators/masternode/#mainnet-snapshot 
              - Downloading Apothem Snapshot: ./xdcchain/developers/node_operators/masternode/#apothem-snapshot   
              # - How to Secure Mastecrnode(WIP): ./xdcchain/developers/node_operators/node_architecture
              # - How to Monitor Uptime(WIP): ./xdcchain/developers/node_operators/node_architecture 
              # - How to migrate an XDC Node(WIP): ./xdcchain/developers/node_operators/node_architecture   
              # - Archive Node(WIP): ./xdcchain/developers/node_operators/node_architecture
              # - Boot Node(WIP): ./xdcchain/developers/node_operators/node_architecture
        - Docker Image (WIP): ./xdcchain/developers/node_operators/dockerimg.md
        - Slashing: ./xdcchain/developers/node_operators/slashing.md  

        # - EOA Paymaster:
        #     - Overview: ./xdcchain/developers/paymaster/overview.md
        #     - Paymaster API Spec: ./xdcchain/developers/paymaster/paymaster-api.md
        #     - Wallet Integration: ./xdcchain/developers/paymaster/wallet-integration.md
    - Governance:
        - Overview of XDCDAO: ./xdcchain/governance/overview.md
        - User Guide: https://www.xdc.dev/0xbeny/xdcdao-understanding-the-proposal-window-39f8

        # - MEV:
        #     - Overview: ./xdcchain/validator/mev/overview.md
        #     - Validator Guide: ./xdcchain/validator/mev/validator-integration.md
        #     - Builder Guide: ./xdcchain/validator/mev/builder-integration.md
        #     - FAQs: ./xdcchain/validator/mev/faqs.md
  
  - XDC Subnet:
    - XDC Subnet: ./subnet/index.md
    - User Guide: 
          - XDC Subnet Official Documentation: https://xinfinorg.github.io/xdc-subnet-docs/category/deployment-guide
          - Upgrading the Subnet: https://xinfinorg.github.io/xdc-subnet-docs/deployment/upgrading_the_subnet
          - UI Usage Guide: https://xinfinorg.github.io/xdc-subnet-docs/category/ui-usage-guide
          - Installation Guide: https://www.xdc.dev/vinn_9686/xdc-subnet-installation-guide-building-a-secure-and-scalable-network-4hb3
          - Setting Up Your Own XDC-Subnet Tutorial: https://youtu.be/VwfI4VTMUnY?si=K9Yv3MdxjKryaDfm 
  - Announcements:
    - Announcements: ./announce/index.md
    - Upcoming:
      - XDC 2.0 Mainnet Release: https://www.xdc.dev/anilchinchawale/xdpos-20-mainnet-release-key-features-and-enhancements-eeo
      - XinFin Remix Upgrade: ./announce/#
    - Passed:
      - Solidity 0.8.23 Integration on XDC Mainnet: https://www.xdc.dev/anilchinchawale/stay-ahead-xdc-network-prepares-for-evm-0823-integration-on-xdc-mainnet-upgrade-details-inside-5nj 
  # - Showcases:
  - Showcases:
    - Showcases: ./showcase/index.md
    - Smart Contracts: 
        # - Flattening Smart Contracts: 
        - Flattening Smart Contracts: ./showcase/flattening-smart-contracts.md
        - Flattening Smart Contracts with Remix: ./showcase/flattening-smart-contracts/#flattening-smart-contracts-with-remix
        - Flattening Smart Contracts with Truffle: ./showcase/flattening-smart-contracts/#flattening-smart-contracts-with-truffle
        - Flattening Smart Contracts with Hardhat: ./showcase/flattening-smart-contracts/#flattening-smart-contracts-with-hardhat
    - Token Standards: 
        - Tokens Overview: ./showcase/tokens.md
        - XRC20: ./showcase/tokens/#xrc20
        - XRC721: ./showcase/tokens/#xrc721
        - XRC404: ./showcase/tokens/#xrc404
        - XDC Stats: 
            - XDC Stats Overview: ./showcase/xdcstats.md 
            - Data and analytics:  
                    - Overview: ./showcase/data-analytics.md
                    - XDCScan Mainnet: ./showcase/data-analytics/#xdcscan-mainnet
                    - XDCScan Testnet (Apothem): ./showcase/data-analytics/#xdcscan-testnet-apothem
                    - XDCScan Devnet: ./showcase/data-analytics/#xdcscan-devnet
            

    #  - Games:
    #    - Telegram Mini Game on XDC Chain: ./showcase/game/minigame.md
    #  - Wallet:
    #    - In-app Wallet and Account Abstraction: ./#
  
markdown_extensions:
  - toc:
      permalink: true
      permalink_title: Link to this section
      toc_depth: 4
  - codehilite
  - admonition
  - footnotes
  - def_list
  - attr_list
  - abbr
  - meta
  - smarty
  - md_in_html
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.keys
  - pymdownx.details
  - pymdownx.magiclink
  - pymdownx.smartsymbols
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.tilde
  - pymdownx.mark
  - pymdownx.extra

plugins:
  - search
  - mkdocs-video
  - redirects:
      redirect_maps:
        'docs.md': 'xdcchain/index.md'
        'docs/validator/fullnode.md': 'xdcchain/developers/node_operators/full_node.md'
        'docs/rpc.md': 'xdcchain/developers/rpc.md'
      

extra_css:
  - https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap
  - assets/style/index.css
  - assets/style/components/banner.css
  - assets/style/components/nav.css
  - assets/style/components/sidebar.css
  - assets/style/components/content.css
  - assets/style/components/footer-nav.css
  - assets/style/components/footer.css
  - https://unpkg.com/katex@0.16.10/dist/katex.min.css

extra_javascript:
  - assets/js/mathjax.js
  - assets/js/custom.js
  - https://unpkg.com/mathjax@3.2.2/es5/tex-mml-chtml.js
  - https://unpkg.com/katex@0.16.10/dist/katex.min.js
  - https://unpkg.com/katex@0.16.10/dist/contrib/auto-render.min.js

extra:
  generator: false
  homepage: ./#
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
